@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

body {
    font-family: 'Reenie Beanie', cursive;
    color: #333;
    margin: 0;
    background: #ccc;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    color: navy;
    text-decoration: none;
}

.content {
    max-width: 1000px;
    padding: 40px 40px 100px;
    margin: 200px auto 40px;
}

.footer {
    text-align: center;
    margin: 100px 0 20px;
}

.quote {
    padding: 60px 0;
    font-size: 56px;
    
}

@-webkit-keyframes wiggle {
  0% { -webkit-transform: rotate( -10deg ); }
  100% { -webkit-transform: rotate( 10deg ); }
}

@keyframes wiggle {
  0% { -webkit-transform: rotate( -10deg ); }
  100% { -webkit-transform: rotate( 10deg ); }
}

#rhyme {
    color: navy;
    cursor: pointer;
}

#rhyme.preloaded {
    -webkit-animation: wiggle 0.6s ease 1s infinite alternate;
    animation: wiggle 0.6s ease 1s infinite alternate;
}


#bish span:nth-child(1) { color: #333;}
#bish span:nth-child(2) { color: #666;}
#bish span:nth-child(3) { color: #999;}

img {
    width: 200px;
    float: left;
    margin-right: 40px;
}

#kendrick {
    position: fixed;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width : 768px) {
    img {
        margin: 0 auto 40px;
        padding: 0;
        float: none;
        display: block;
        width: 150px;
    }
    
    .content {
        padding: 40px;
        margin: 0;
        
    }

    .quote {
        font-size: 36px;
        margin: 0;
        padding: 0;
    }

    #bish span {
        display: block;
    }

    #kendrick {
        position: relative;
        width: 100%;
    }
}